.fixed-background {
    background-image: url('../../assets/slider/slider-2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  