.custom-color{
    background: #d9dad7;  
    ;
    
}
.menu li a  {
    color: white; /* Set your desired color */
    text-decoration: none;
  }
  
  .menu li a::after,
  .menu li a:focus {
    color: burlywood !important; /* Set the same color or a different color for the hover/focus state */
  }


.menu li  a:visited {
  color:burlywood, !important;
  
}